my-date-range-picker {
	margin: 0 !important;

	.mydrp {
		.selection {
			font-weight: normal !important;
		}

		.btnclear, .btnpicker {
			width: 1.8rem !important;
		}

		.icon-calendar, .icon-cross {
			font-size: 1rem !important;
		}
	}
}